@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');


*{margin: 0;padding: 0;box-sizing: border-box;}

body{}

h2{font-family: 'Poppins', sans-serif;}

p,a,figcaption,textarea{font-size: 0.9em;font-family:'Mulish', sans-serif;}

#capa{width:100%;height:480px;background-image: url('fundo-3.gif');background-repeat: no-repeat;background-size: cover;}


nav{width: 100%;margin-top:0px;}

a{text-decoration: none;color: #03FA6E;text-transform: uppercase;}

.nav-ul{margin-top:0px;position: absolute;background:#000;width:100%;height:100vh;text-align:center;padding:20px 0px;opacity:0;transform: translateX(-100%);}

nav li{list-style: none;padding: 80px 0px}

#logo{width:90%;border-bottom: 1px solid #FFF;margin:0 auto;padding:10px 0px}

#logo img{width:200px}

#menuHamb,#btnFechar{color:#FFF;font-size:2rem;position: absolute;top:0;margin-left:85%;padding-bottom:25px;cursor: pointer;margin-top:10px}


#btnFechar{margin-left:86%;visibility: hidden;}


#perfil{width:100%;height:250px;margin: auto;background:;position:;display: flex;flex-direction: column;justify-content: center;align-items: center;margin-top: 80px}

.content-perfil > img{width:150px;border-radius:50%;border:5px solid #fff;box-shadow: 1px 1px 6px #fff;animation:anima-foto infinite alternate 1s;}

@keyframes anima-foto{
     
     0%{border: 1px solid #fff}
     50%{margin-left: 20px}
     100%{border: 10px solid #CFD0D2}

}

.nome-perfil{font-size:1.2em;font-family: 'Poppins', sans-serif;padding:15px}

.content-perfil p {text-align: center;color: #fff}


/*Seção sobre*/


#sobre{display: flex;flex-direction: column;justify-content: center;align-items: center;background: ;margin:50px 0px}

.content-sobre{padding:20px 0px;text-align: center;}

.content-sobre > p{padding: 15px;color:#555}

.content-sobre > img{width:35px}
#icon-ai,#icon-photo{width:50px}


/*Formulário*/

#corpo{background: #f4f4f4}


form{display:flex;flex-direction:column;background:;justify-content: center;margin:100px 0px;}

form input,textarea{width:80%;margin: auto;padding: 20px;margin-top: 10px;border: none}

input,textarea{outline-color: #ccc}

button{width:200px;margin: auto;margin-top: 20px;padding: 16px 0px;cursor: pointer;border: none;background-image:url('fundo.jpg');color:#fff;border-radius: 2px}

textarea{height:100px}

#title-form{text-align: center;}


footer{background-image: url('fundo-3.gif');background-position:center;background-size: cover;height:280px}

.content-footer{width:80%;margin: auto;}

#logo-footer{display: block;margin: auto;width:60%;padding: 50px 0px}

#content-social{width:100%;display: flex;justify-content: center}

.social{width: 50px;height:50px;background-position: center;background-size: cover}

.social:nth-child(1){background-image: url('facee.png')}
.social:nth-child(2){background-image: url('insta.png') }
.social:nth-child(3){background-image: url('zap.png') }

#autor p{text-align: center;padding:10px}


/*Seção Portfolio*/

article,#work,figcaption{text-align: center;padding:25px}


.img-site{width:100%}


@media(min-width:360px){

	#capa{height:580px;}

	#perfil{margin-top:120px}

	.nome-perfil{font-size:1.3em;}
}



@media(min-width:500px){

	nav li{list-style: none;padding: 60px 0px}	
    
    #capa{width:100%;height:520px;}

    #perfil{margin-top:100px;}

    .nome-perfil{font-size:1.5em;}

}


@media(min-width:750px){

	#capa{background-position:left;position: relative;}

	#logo{width:90%;margin: auto;position:;padding: 5px 0px}

	#logo > img{margin-left: 2%}

	nav{height: 45px;background:transparent;position: relative;}

	.nav-ul{width:95%;height:10px;display: flex;justify-content:flex-end;top: 0;visibility: visible;background:transparent;opacity: 1;transform: translateX(0%)}


	nav li{padding: 0px 10px;font-size: 1em}

	a{color:rgb(150,0,250)}

	.nav-ul a{margin-right:2%;color:#fff}

	#menuHamb,#btnFechar{display: none;}

	#perfil{margin:100px auto;}

	.content-perfil > img{}

	/*Seção sobre*/
	

	.content-sobre{padding:30px;}

	.content-sobre > p{padding:10px 0px}  

	#logo-footer{width:200px}
}


@media(min-width:1024px){

	
	.nav-ul li:hover{text-shadow:1px 3px 6px #fff}

	#capa{width:100%;height:100vh;}

	#sobre{width:95%;flex-direction:row;justify-content:space-evenly;margin:50px auto;}   
    
    .content-sobre{padding:20px 0px;text-align: left;}

   .content-sobre > p{width:450px;border-right: 1px solid #ccc; }

    #perfil{margin-top:150px}

    .content-perfil > img{width:200px;border:5px solid #fff;box-shadow: 1px 1px 6px #fff}   

   .web-designer{font-size:1.5em}

   .nome-perfil{font-size:3em}

   /*Seção portfolio*/

   #work{display: flex;justify-content: space-evenly;margin:50px}

   article > h2{font-size:2em}

   .img-site{width:95%;}

   /*Formulário*/

   #title-form{font-size:2em}

   form input,textarea{width:70%;padding:20px}

   textarea{height:200px}
	
   button{box-sizing:border-box}	

   button:hover{background: #fff;border:1px solid #ccc;color:#000;}
}


@media(min-width:1500px){	

    #sobre{width:100%;}

    .content-sobre > p{width:750px;font-size:1.3em}

    .content-sobre > img{width:45px}
     #icon-ai,#icon-photo{width:60px}
}


@media(min-width:1920px){  
	
	
     

    
}

@media(min-width:1921px){
	body{width:1920px;margin: auto;}

